* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "PT Sans";
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /*10px*/
  font-family: sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #042129 !important;
}

.wrapper {
  padding: 0 100px 0 100px;
}

/* firefox only */
@-moz-document url-prefix() {
  html {
    font-size: 50%;
  }
}

