@import "./base/base";
@import "./components/main";
@import "./components/navbar";
@import "./components/about";
@import "./components/skills";
@import "./components/card";
@import "./components/projects";
@import "./components/contact";
@import "./components/footer";
@import "./components/video-card";
@import "./animations/bounce";
@import "./animations/rotate";
@import "./animations/orbits";
@import "./media/media";

.mt-s {
  margin-top: 25px;
}

.mt-xs {
  margin-top: 10px;
}

.align-start {
  align-items: flex-start;
}

.align-self-start {
  align-self: flex-start;
}

#root {
  overflow: hidden;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

h1,
h2 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}

hr {
  margin-bottom: 1.3rem;
  overflow: visible;
}

.main-info-section,
.work-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text p,
.about h1,
.work h1,
.contact h1 {
  color: #707070;
}

a:not(.nav-link):not(.navbar-brand) {
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.about h1,
.work h1 {
  font-size: 16rem;
  z-index: 0;
  opacity: 0.4;
}
