@media screen and (max-width: 1435px) {
  .right-corner {
    right: -14% !important;
    transform: scale(2.5) !important;
  }

  .left-corner {
    left: -20% !important;
  }

  .bottom {
    left: 93% !important;
    bottom: -5% !important;
  }
  .profile-image {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .about h1,
  .work h1 {
    text-align: center;
  }

  .contact h1 {
    text-align: center !important;
  }

  .right-corner {
    right: -4% !important;
    top: -7%;
    transform: scale(1.4) !important;
  }

  .bottom {
    left: 90% !important;
    bottom: -30%;
    transform: scale(1.2) !important;
  }
}

@media screen and (max-width: 985px) {
  .work {
    margin-top: 50px !important;
  }

  div[class^="tag-"] {
    padding: 0 !important;
  }

  div[class^="tag-"] p {
    text-align: center !important;
    margin: 0 auto;
    font-weight: bold;
    font-size: 3rem !important;
    padding: 0 !important;
    transform: none !important;
  }
}

@media screen and (max-width: 935px) {
  html {
    font-size: 50% !important;
  }
  /* firefox only */
  @-moz-document url-prefix() {
    html {
      font-size: 45% !important;
    }
  }
}

@media screen and (max-width: 800px) {
  .buttons {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 725px) {
  html {
    font-size: 15px;
    .wrapper {
      padding: 0 75px 0 75px !important;
    }

    .nav-content-wrapper {
      position: relative;
    }

    .nav-brand {
      display: inline-block;
      position: absolute;
      color: white;
      font-size: 2.5rem;
      display: flex;
      align-items: center;
      font-family: "Great Vibes", cursive;
      z-index: 2;
      left: 5%;
      top: 55%;
      transform: translate(5%, -45%);
    }

    .hamburger {
      cursor: pointer;
      position: absolute;
      right: 5%;
      top: 50%;
      padding: 3px;
      transform: translate(-5%, -50%);
      z-index: 2;
    }

    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }

    .nav-links {
      position: fixed;
      max-width: none;
      background: #707070;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      clip-path: circle(100px at 95% -20%);
      -webkit-clip-path: circle(100px at 95% -20%);
      transition: all 1s ease-out;
      pointer-events: none;
      li {
        opacity: 0;

        &:nth-child(1) {
          transition: all 0.5s ease 0.1s;
        }

        &:nth-child(2) {
          transition: all 0.5s ease 0.2s;
        }

        &:nth-child(3) {
          transition: all 0.5s ease 0.3s;
        }

        &:nth-child(4) {
          transition: all 0.5s ease 0.4s;
        }

        &:nth-child(5) {
          transition: all 0.5s ease 0.5s;
        }

        &.fade {
          opacity: 1;
        }
      }
    }

    .nav-links.open {
      clip-path: circle(1700px at 90% -10%);
      -webkit-clip-path: circle(1700px at 90% -10%);
      pointer-events: all;
    }
  }
}

@media screen and (max-width: 630px) {
  .contact .circle {
    width: 70px !important;
    height: 70px !important;
  }

  .icon-wrapper img {
    width: 35px !important;
  }

  i.fa-instagram {
    transform: scale(3.5) !important;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 13px;
    .left-corner {
      transform: scale(1.2) !important;
    }
    .wrapper {
      padding: 0 50px 0 50px !important;
    }
    #navbar {
      .nav-link:hover {
        transform: none !important;
        color: white;
      }
      li.nav-item {
        margin-left: 5px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 6px !important;

    .wrapper {
      padding: 20px !important;
    }
    .work {
      .card-wrapper {
        transform: scale(0.8) !important;
      }
      h1 {
        font-size: 12rem !important;
      }
    }

    .about {
      .about-me-info {
        text-align: center !important;
      }
      h1 {
        font-size: 12rem !important;
      }
      .right-corner,
      .left-corner,
      .bottom {
        display: none !important;
      }
    }

    .contact {
      .contact h1 {
        font-size: 12rem !important;
      }

      .circle {
        width: 50px !important;
        height: 50px !important;
      }

      .icon-wrapper img {
        width: 25px !important;
      }

      i.fa-instagram {
        transform: scale(3) !important;
      }
    }

    .skills h1 {
      font-size: 12rem !important;
    }

    div[class^="category-"] {
      grid-template-columns: none !important;
    }
    .main-info-section {
      #main-h1 {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (max-width: 370px) {
  h1:not(#main-h1):not(#nav-h1) {
    font-size: 13rem !important;
  }
  #main-h1 {
    font-size: 4rem;
  }
  .card-wrapper {
    transform: scale(0.8) !important;
  }
  .bottom {
    transform: scale(1) !important;
  }
  .left-corner {
    transform: scale(1.2) !important;
  }
  .right-corner {
    transform: scale(1.4) !important;
  }
  .wrapper {
    padding: 0 40px 0 40px !important;
  }
  div[class^="category-"] {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr)) !important;
  }
}

