.about {
  height: minmax(calc(100vh), auto);
  margin-top: 60px;
  width: 100vw;
  overflow: hidden;

  h1 {
    margin-top: 50px;
  }

  .about-me-info {
    max-width: 900px;
    padding: 50px;
    position: relative;
    top: 40px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    margin-bottom: 300px;

    p {
      font-size: 2.6rem;
      color: #bebebe;
    }

    & p:nth-child(2),
    & p:nth-child(3) {
      margin-top: 30px;
    }

    .right-corner {
      position: absolute;
      right: -20%;
      top: -11%;
      transform: scale(3);
      opacity: 0.7;
    }

    .left-corner {
      position: absolute;
      left: -35%;
      bottom: 30%;
      transform: scale(2);
      opacity: 0.7;
    }

    .bottom {
      position: absolute;
      left: -20%;
      bottom: -30%;
      transform: scale(1.6);
      opacity: 0.7;
    }

    .star {
      background: rgba(119, 119, 119, 0.541);
      width: 80px;
      height: 80px;
      position: relative;
      text-align: center;
      z-index: -1;
      animation: rotate 6s linear infinite;

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 80px;
        width: 80px;
        background: rgba(119, 119, 119, 0.541);
      }
      &:before {
        transform: rotate(30deg);
      }
      &:after {
        transform: rotate(60deg);
      }
    }
  }
}

