.contact {
  margin-top: 50px;
  height: minmax(calc(50vh), auto);
  width: 100vw;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    background-image: url("/img/mail.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }

  & h1 {
    color: #ddd5d5cc !important;
    text-align: center;
    font-size: 16rem;
  }
  .icon-wrapper {
    max-width: 800px;
    margin: 50px auto 0px auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;

    & i {
      color: rgb(24, 112, 100);
      font-size: 1.6rem;
      transform: scale(2.8);

      .fa-instagram {
        transform: scale(3.7);
      }
    }
    & img {
      width: 50px;
      margin-top: 4px;
    }
  }

  .circle {
    opacity: 0.7;
    background-color: #fcfcfc !important;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
/* firefox only */
@-moz-document url-prefix() {
  .icon-wrapper img {
    width: 40px;
    margin-top: 4px;
  }
  .icon-wrapper i {
    transform: scale(3.3) !important;
  }
  i.fa-instagram {
    transform: scale(4) !important;
  }
}
