nav {
  height: 5vh;
  background: transparent;
  min-height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.nav-content-wrapper {
  width: 100%;
  height: 100%;
}

.nav-brand {
  display: none;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 60%;
  max-width: 550px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;

  li a {
    color: rgb(212, 211, 211);
    font-size: 2rem !important;
    text-decoration: none;
    font-weight: 100;
    text-transform: uppercase;
    &:hover {
      font-size: 2.3rem;
      color: white;
    }
  }
}

.scrolled {
  background: #707070b9 !important;
  transition: background 500ms;
}

