.work {
  height: minmax(calc(100vh), auto);
  width: 100vw;

  .tabs {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;

    button {
      min-height: 50px;
      min-width: 200px;
      border-radius: 5px;
      border: none;
      background-color: #eeffff;
      margin-top: 20px;
      cursor: pointer;
    }
  }

  h2 {
    font-size: 25px !important;
  }

  div[class^="category-"] {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
  }

  a {
    justify-self: center;
    position: relative;
    display: inline-block;

    img {
      width: 350px;
      justify-self: center;
    }
  }
}

/* firefox only */
@-moz-document url-prefix() {
  .work p {
    font-size: 14px !important;
  }
  .work h2 {
    font-size: 22px !important;
  }
}

