:root {
  --titleColor: #a7a4a4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "PT Sans";
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 62.5%; /*10px*/
  font-family: sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #042129 !important;
}

.wrapper {
  padding: 0 100px 0 100px;
}

.mt-s {
  margin-top: 25px;
}

.mt-xs {
  margin-top: 10px;
}

.align-start {
  align-items: flex-start;
}

.align-self-start {
  align-self: flex-start;
}

#root {
  overflow: hidden;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

h1,
h2 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}

hr {
  margin-bottom: 1.3rem;
  overflow: visible;
}

.work-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text p,
.work h1,
.contact h1 {
  color: #a7a4a4;
}

a:not(.nav-link):not(.navbar-brand) {
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.work h1 {
  font-size: 16rem;
  z-index: 0;
  opacity: 0.4;
}

.scrolled {
  background: #707070b9 !important;
  transition: background 500ms;
}

.fa-envelope {
  margin-top: 5px;
}

/* firefox only */
@-moz-document url-prefix() {
  html {
    font-size: 50%;
  }
}

/* media queries */
@media screen and (max-width: 935px) {
  html {
    font-size: 50% !important;
  }
  /* firefox only */
  @-moz-document url-prefix() {
    html {
      font-size: 45% !important;
    }
  }
}

@media screen and (max-width: 725px) {
  html {
    font-size: 15px;
  }
  .wrapper {
    padding: 0 75px 0 75px !important;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 13px;
  }
  .wrapper {
    padding: 0 50px 0 50px !important;
  }
}

@media screen and (max-width: 510px) {
  html {
    font-size: 5.5px !important;
  }
  .wrapper {
    padding: 20px !important;
  }
}

@media screen and (max-width: 370px) {
  .wrapper {
    padding: 0 40px 0 40px !important;
  }
}
